<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Tripicker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 커넥션 풀 -->
  <resource-ref>
		<description>ConnectionPool</description>
		<res-ref-name>jdbc/mysqldb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref> 
  <!-- 커넥션 풀 -->
  
  <!-- PlanFrontController -->
  <servlet>
  	<servlet-name>PlanFrontController</servlet-name>
  	<servlet-class>com.tripicker.plan.action.PlanFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PlanFrontController</servlet-name>
  	<url-pattern>*.pl</url-pattern>
  </servlet-mapping>
  <!-- PlanFrontController -->
  
  <!-- PlanAjaxController -->
  <servlet>
  	<servlet-name>PlanAjaxController</servlet-name>
  	<servlet-class>com.tripicker.plan.action.PlanAjaxController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PlanAjaxController</servlet-name>
  	<url-pattern>*.ajax</url-pattern>
  </servlet-mapping>
  <!-- PlanAjaxController -->
  
  
  <!-- CityFrontController -->
  <servlet>
  	<servlet-name>CityFrontController</servlet-name>
  	<servlet-class>com.tripicker.city.action.CityFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CityFrontController</servlet-name>
  	<url-pattern>*.ci</url-pattern>
  </servlet-mapping>
  <!-- CityFrontController -->
  
  <!-- UserFrontController -->
    <servlet>
      <servlet-name>UserFrontController</servlet-name>
      <servlet-class>com.tripicker.user.action.UserFrontController</servlet-class>
    </servlet>
      
    <servlet-mapping>
      <servlet-name>UserFrontController</servlet-name>
      <url-pattern>*.us</url-pattern>
    </servlet-mapping>     
  <!-- UserFrontController -->
  
  <!-- MainFrontController -->
    <servlet>
      <servlet-name>MainFrontController</servlet-name>
      <servlet-class>com.tripicker.MainFrontController</servlet-class>
    </servlet>
      
    <servlet-mapping>
      <servlet-name>MainFrontController</servlet-name>
      <url-pattern>*.tr</url-pattern>
    </servlet-mapping>     
  <!-- MainFrontController -->
  
  <!-- MyPageFrontController -->
    <servlet>
      <servlet-name>MyPageFrontController</servlet-name>
      <servlet-class>com.tripicker.mypage.action.MyPageFrontController</servlet-class>
    </servlet>
      
    <servlet-mapping>
      <servlet-name>MyPageFrontController</servlet-name>
      <url-pattern>*.my</url-pattern>
    </servlet-mapping>     
  <!-- MyPageFrontController -->
  
  <!-- NoticeFrontController -->
    <servlet>
      <servlet-name>NoticeFrontController</servlet-name>
      <servlet-class>com.tripicker.notice.action.NoticeFrontController</servlet-class>
    </servlet>
      
    <servlet-mapping>
      <servlet-name>NoticeFrontController</servlet-name>
      <url-pattern>*.no</url-pattern>
    </servlet-mapping>     
  <!-- NoticeFrontController -->
  
  <!-- BoardFrontController -->
   <servlet>
      <servlet-name>BoardFrontController</servlet-name>
      <servlet-class>com.tripicker.board.action.BoardFrontController</servlet-class>
    </servlet>
      
    <servlet-mapping>
      <servlet-name>BoardFrontController</servlet-name>
      <url-pattern>*.bo</url-pattern>
    </servlet-mapping>     
  <!-- BoardFrontController -->
  
  <!-- AdminFrontController -->
   <servlet>
      <servlet-name>AdminFrontController</servlet-name>
      <servlet-class>com.tripicker.admin.action.AdminFrontController</servlet-class>
    </servlet>
      
    <servlet-mapping>
      <servlet-name>AdminFrontController</servlet-name>
      <url-pattern>*.ad</url-pattern>
    </servlet-mapping>     
  <!-- AdminFrontController -->
  
  
 
  
</web-app>