<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Tripicker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 가상주소 임시 설정 -->
  <!-- MemberFrontController -->
    <servlet>
      <servlet-name>MemberFrontController</servlet-name>
      <servlet-class>com.tripicker.member.action.MemberController</servlet-class>
    </servlet>
      
    <servlet-mapping>
      <servlet-name>MemberFrontController</servlet-name>
      <url-pattern>*.tripicker</url-pattern>
    </servlet-mapping>     
  <!-- MemberFrontController -->
  
  
</web-app>