<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Tripicker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- PlanFrontController -->
  <servlet>
  	<servlet-name>PlanFrontController</servlet-name>
  	<servlet-class>com.tripicker.plan.action.PlanFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PlanFrontController</servlet-name>
  	<url-pattern>*.pl</url-pattern>
  </servlet-mapping>
  <!-- PlanFrontController -->
  
  <!-- CityFrontController -->
  <servlet>
  	<servlet-name>CityFrontController</servlet-name>
  	<servlet-class>com.tripicker.city.action.CityFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CityFrontController</servlet-name>
  	<url-pattern>*.ci</url-pattern>
  </servlet-mapping>
  <!-- CityFrontController -->
  
  <!-- UserFrontController -->
    <servlet>
      <servlet-name>UserFrontController</servlet-name>
      <servlet-class>com.tripicker.user.action.UserFrontController</servlet-class>
    </servlet>
      
    <servlet-mapping>
      <servlet-name>UserFrontController</servlet-name>
      <url-pattern>*.us</url-pattern>
    </servlet-mapping>     
  <!-- UserFrontController -->
  
  <!-- MainFrontController -->
    <servlet>
      <servlet-name>MainFrontController</servlet-name>
      <servlet-class>com.tripicker.MainFrontController</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>MainFrontController</servlet-name>
      <url-pattern>*.tr</url-pattern>
    </servlet-mapping>     
  <!-- MainFrontController -->
  
    
</web-app>